.hero {
    padding: 74px 16px 88px;
    @media (min-width: $tablet){
        max-width: 768px;
        margin: 0 auto;
    }
    @media (min-width: $desktop){
        max-width: 100%;
        
    }
    &__description{
        text-align: center;
        @media (min-width: $desktop){
            max-width: 786px;
            margin: 0 auto;
            position: relative;
            &::before, &::after{
                width:83px;
                height: 253px;
                content: "";
                display: block;
                position: absolute;
                top: 0;
            }
            &::before{
                background: url("../assets/img/{.svg");
                    right: 103%;
            }
            &::after{
                background: url("../assets/img/}.svg");
                left: 103%;
            }
        }
    }
    &__bubble{
        position: absolute;
        left: calc(50% + 100px);
        top: -22px;
    }
    &__contact{
    border-radius: 64px;
    color: #fff;;
    background: $lightBlue;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 19px;
    line-height: 40px;
    text-decoration: none;
    margin-bottom: 48px;
    }
    &__header{
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $textDark;
        @media(min-width: $desktop){
            font-size: 32px;
            line-height: 40px;
        }
    }
    &__hello{
        display: none;
        @media (min-width: $tablet) {
            display: block;
            background: $blue;
            color: #fff;
            padding: 16px 19px;
            border-radius: 16px;
            font-weight: bold;
            font-size: 32px;
            position: relative;
            &:after{
                content:"" ;
                position: absolute;
                top: 95%;
                left: 32px;
                display:block ;
                width: 18px;
                height: 22px;
                background: url('../assets/img/Speech_cloud.svg');
            }
        }
    }
    &__image {
        box-sizing: content-box;
        width: 96px;
        height: 96px;
        border: 16px solid #dadce0;
        border-radius: 50%;
        @media(min-width: $desktop){
            width: 178px;
            height: 178px;
            border: 24px solid #dadce0;
        }
    }
    &__image-container{
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
        }  
    &__link{
            font-weight: bold;
            color: $lightBlue;
            text-decoration: none;
        }
    &__paragraph{
            font-weight: 300;
            font-size:16px;
            line-height: 32px;
            text-align: center;
            @media (min-width: $desktop){
                font-size:22px;
            line-height: 40px;
            }
        }
    &__special{
            color: $blue;
            white-space: nowrap;
        }
   
}