$blue: #1070CA;
$console: #efeff0;
$consoleLink: #14B5D0;
$darkGray: #1E1E1E;
$gray: #212528;
$lightBlue: #4DA8FF;
$lightConsole: #A3A3A3;
$lighterBlue: #DBEAF7;
$mediumGray: #464A4D;
$text: #425A70;
$textDark: #234361;




$tablet: 768px;

$desktop: 960px;